*{
        margin: 0;
        padding: 0;
        border: 0;
}


.LIFESTYLE{
    color: #03A9F4;
font-family: Playfair Display;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.PHOTODIARY{
    color: #7D7D7D;
    font-family: Playfair Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.MUSIC{
    color: #7D7D7D;
font-family: Playfair Display;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.TRAVEL{
    color: #7D7D7D;
font-family: Playfair Display;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.LIFESTYL{
    color: #B4AD9E;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.More{
    color: #626262;
font-family: Playfair Display;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.Lorem-more{
    color: #626262;
    font-family: Playfair Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}